# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Databases and Local Data
data/tenants/*
*.duckdb

# Logs
data/logs/*
!data/logs/.gitkeep

# Local utilities
ngrok
# Local utilities
ngrok
