# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly set line endings to LF for code and documentation
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf

# Treat images as binary files
*.png binary